.input__component textarea{
    border: 1px solid var(--tertiary-font-colour);
    border-radius: 15px;
    background-color: transparent;
    min-width: 95%;
    max-width: 95%;
    min-height: 25px;
    max-height: 130px;
    margin: 10px;
    font-size: .9rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--secondary-font-colour);
    padding: 5px;
}

.input__component textarea:focus {
    border: none;
}

.input__component textarea:focus {
    border: 2px solid var(--tertiary-font-colour);
    border-radius: 15px;
    outline-offset: 0px;
    outline: none;
}
